<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentDelivery">
        <settings>
            <setting name="SharedCache.Html.SecondLevelHtmlCacheMethod" value="Redis" />
            <setting name="SharedCache.Html.SharedHtmlCacheClearOnly" value="false" />
        </settings>
    </sitecore>
</configuration>