<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="SharedCache.Core.RedisConnectionStringName" value="redis.sessions" />
            <setting name="SharedCache.Core.RedisDefaultCacheTimeout" value="1440" />
        </settings>
    </sitecore>
</configuration>