<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement">
        <settings>
          <setting name="SharedCache.Custom.SecondLevelSharedCustomCacheMethod" value="Redis" />
          <setting name="SharedCache.Html.SharedCustomCacheClearOnly" value="true" />
        </settings>
    </sitecore>
</configuration>